<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.backend.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.blog.backend.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="photo" property="photo"/>
        <result column="follower_count" property="followerCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByUsername" resultMap="UserResultMap">
        SELECT id, username, password, photo, follower_count, create_time, update_time
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, photo, follower_count, create_time, update_time)
        VALUES (#{username}, #{password}, #{photo}, #{followerCount}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateFollowerCount">
        UPDATE user
        SET follower_count = follower_count + #{count},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="selectTopUsers" resultMap="UserResultMap">
        SELECT id, username, photo, follower_count
        FROM user
        ORDER BY follower_count DESC
            LIMIT #{limit}
    </select>

    <delete id="deleteAllUsers">
        DELETE FROM user
    </delete>

</mapper>